<%= simple_form_for(@investment) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	<div class="field">
		<%= f.label :item_id, required: true, class: "label" %>
		<div class="control">
			<%= items_dropdown f, :item_id,
				selected_item: @investment.item,
				input_html: {
					class: @investment.errors.key?(:item) ? "is-invalid" : (@investment.item_id_changed? ? "is-valid" : "")
				} %>
			<%= f.full_error :item, class: 'help is-danger' %>
		</div>
	</div>
	<div class="columns">
		<div class="column is-one-third-desktop is-full-mobile">
			<%= f.input :quantity, as: :string, input_html: { class: "integer-input" } %>
		</div>
		<div class="column is-one-third-desktop is-full-mobile">
			<%= f.input :value_invested, as: :string, input_html: { class: "money-input"} %>
		</div>
		<div class="column is-one-third-desktop is-full-mobile">
			<%= f.input :invested_at, as: :string, input_html: { type: 'date' } %>
		</div>
	</div>
	<%= yield f %>
<% end %>
