<%= simple_form_for(@investment) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	<div class="field">
		<%= f.label :asset_id, required: true, class: "label" %>
		<div class="control">
			<%= assets_dropdown f, :asset_id,
				selected_asset: @investment.asset,
				input_html: {
					class: @investment.errors.key?(:asset) ? "is-invalid" : (@investment.asset_id_changed? ? "is-valid" : "")
				} %>
			<%= f.full_error :asset, class: 'invalid-feedback d-block' %>
		</div>
	</div>

	<div class="columns">
		<div class="column is-one-third-desktop is-full-mobile">
			<%= f.input :quantity, as: :string, input_html: { class: "integer-input" } %>
		</div>
		<div class="column is-one-third-desktop is-full-mobile">
			<%= f.input :value_invested, as: :string, input_html: { class: "money-input"} %>
		</div>
		<div class="column is-one-third-desktop is-full-mobile">
			<%= f.input :invested_at, as: :string, input_html: { type: 'date' } %>
		</div>
	</div>
	<%= yield f %>
<% end %>
