<div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
	<%= link_to item_path(portfolio.item_id), class: "list-group-item list-group-item-action" do %>
		<div class="card">
			<div class="card-content has-text-centered">
				<p class="title is-4"><%= portfolio.item_abbr %></p>
				<p class="subtitle is-6"><%= portfolio.item_name %></p>
				<div class="block">
					<div class="columns is-mobile">
						<div class="column is-half-mobile">
							<p class="heading">Investido</p>
							<p class="subtitle"><%= number_to_currency(portfolio.item_value_invested) %></p>
						</div>
						<div class="column is-half-mobile">
							<p class="heading">Quantidade</p>
							<p class="subtitle"><%= portfolio.item_quantity %></p>
						</div>
					</div>
				</div>
				<div class="block">
					<p class="heading">Acumulado</p>
					<p class="subtitle has-text-weight-bold">
						<%= number_to_currency(portfolio.item_current_value) %>
						<%= styled_numeric(portfolio.difference_in_percent(:item_value_invested, :item_current_value)) do |num| %>
							(<%= number_to_percentage(num, precision: 1) %>)
						<% end %>
					</p>
				</div>
			</div>
		</div>
	<% end %>
</div>
