<%= render "partials/flash_messages" %>

<div class="row align-items-center justify-content-between">
	<div class="col-md col-sm-12">
		<h2>Investments</h2>
	</div>
	<div class="col-md-auto col-sm-12">
		<ul class="list-group list-group-horizontal text-right my-3">
			<li class="list-group-item">
				<span class="text-uppercase small">Invested</span>
				<div class="font-weight-bold text-muted">
					<%= number_to_currency(@investment_totals.total_invested) %>
				</div>
			</li>
			<li class="list-group-item">
				<span class="text-uppercase small">Accumulated</span>
				<div class="font-weight-bold text-muted">
					<%= number_to_currency(@investment_totals.total_accumulated) %>
					<%= styled_numeric(@investment_totals.difference_in_percent(:total_invested, :total_accumulated)) do |num| %>
						(<%= number_to_percentage(num, precision: 1) %>)
					<% end %>
				</div>
			</li>
		</ul>
	</div>
</div>

<%= link_to 'Add Investment', new_investment_path %>

<div class="list-group">
	<%= render partial: "investments/portfolio", collection: @portfolio %>
</div>

<% if @portfolio.empty? %>
	<div class="alert alert-info">
		<strong>Info!</strong>
		You have no investments yet.
	</div>
<% end %>
