<%= render "partials/flash_messages" %>

<div class="d-flex align-items-center justify-content-between">
	<h2>Investments</h2>
	<ul class="list-group list-group-horizontal text-right my-3">
		<li class="list-group-item">
			<span class="d-block text-uppercase">Total Invested</span>
			<strong class="text-muted text-right">
				<%= number_to_currency(@investment_totals.total_invested) %>
			</strong>
		</li>
		<li class="list-group-item">
			<span class="d-block text-uppercase">Total Accumulated</span>
			<strong class="text-muted text-right">
				<%= number_to_currency(@investment_totals.total_accumulated) %>
				(<%= gain_loss(@investment_totals.total_invested, @investment_totals.total_accumulated) %>)
			</strong>
		</li>
	</ul>
</div>

<%= link_to 'Add Investment', new_investment_path %>

<div class="list-group">
	<%= render partial: "investments/portfolio", collection: @portfolio %>
</div>

<% if @portfolio.empty? %>
	<div class="alert alert-info">
		<strong>Info!</strong>
		You have no investments yet.
	</div>
<% end %>
