<%= render "partials/flash_messages" %>

<%= content_for :page_head do %>
	<div class="columns">
		<div class="column is-half-desktop is-full-mobile has-text-centered-mobile">
			<h1 class="title">Investments</h1>
			<%= link_to 'Add Investment', new_investment_path, class: "button is-primary" %>
		</div>
		<div class="column is-half-desktop is-full-mobile">
			<nav class="level">
				<div class="level-item mr-1 has-text-right-desktop has-text-centered-mobile">
					<div>
						<p class="heading">Invested</p>
						<p class="title"><%= number_to_currency(@investment_totals.total_invested) %></p>
					</div>
				</div>
				<div class="level-item ml-1 has-text-right-desktop has-text-centered-mobile">
					<div>
						<p class="heading">Accumulated</p>
						<p class="title">
							<%= number_to_currency(@investment_totals.total_accumulated) %>
							<%= styled_numeric(@investment_totals.difference_in_percent(:total_invested, :total_accumulated)) do |num| %>
								(<%= number_to_percentage(num, precision: 1) %>)
							<% end %>
						</p>
					</div>
				</div>
			</nav>
		</div>
	</div>
<% end %>

<div class="block">
	<div class="columns is-multiline">
		<%= render partial: "investments/portfolio", collection: @portfolio %>
	</div>
</div>

<% if @portfolio.empty? %>
	<%= render partial: "partials/no_content",
		locals: {
			message: "Your portfolio is empty. <br/> #{link_to('Add your first investment here', new_investment_path)}.".html_safe
		} %>
<% end %>
