<%= content_for :page_head do %>
	<h2 class="title">Editar cadastro</h2>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
	<% end %>

	<div class="tabs is-centered">
		<ul>
			<li class="<%= "is-active" if current_section == 'profile' %>">
				<%= link_to 'Perfil',
					edit_user_registration_path(section: "profile") %>
			</li>
			<li class="<%= "is-active" if current_section == 'password' %>">
				<%= link_to 'Senha',
					edit_user_registration_path(section: "password") %>
			</li>
			<li class="<%= "is-active" if current_section == 'danger_zone' %>">
				<%= link_to 'Área perigosa',
					edit_user_registration_path(section: "danger_zone") %>
			</li>
		</ul>
	</div>
<% end %>

<%= render "partials/flash_messages" %>

<div class="compact">
	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>
		<%= hidden_field_tag :section, current_section %>
		<%= render partial: "devise/registrations/edit/#{current_section}", locals: { form: f } %>
	<% end %>
</div>
