<%= content_for :page_head do %>
	<h2 class="title">Edit Account</h2>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= render "devise/shared/error_messages", resource: resource %>

	<%= f.input :email, autofocus: true, input_html: { autocomplete: "email" } %>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>

	<%= f.input :password,
    input_html: { autocomplete: "new-password" },
    hint: "Leave blank if you don't want to change"  %>

	<%= f.input :password_confirmation,
    input_html: { autocomplete: "new-password" },
    hint: "if you are going to change your password, please confirm the new one" %>

	<%= f.input :current_password,
    input_html: { autocomplete: "current-password" },
    hint: "We need your current password to confirm your changes" %>

	<div class="field">
		<%= f.button :submit, class: "button is-primary" %>
	</div>
<% end %>

<div class="panel is-danger mt-5">
	<p class="panel-heading">
		<span>&#9762;</span> Danger zone
	</p>
	<div class="panel-block py-5 is-justify-content-space-between is-align-content-center">
		<span>
			<strong>Delete my account</strong><br/>
			<small>
				Once you delete your account, there is no going back. Please be certain. 
			</small>
		</span>
		<%= button_to "Delete my account", registration_path(resource_name),
			class: "button is-danger", data: { confirm: "Are you sure?" },
			method: :delete %>
	</div>
</div>
