<%= content_for :header do %>
	<script src="https://hcaptcha.com/1/api.js" async refer></script>
<% end %>

<%= content_for :content do %>
	<%= render 'partials/public_navbar' %>
	<div class="signup-form">
		<h2 class="subtitle has-text-centered">Create your account</h2>
		<%= render 'partials/flash_messages' %>
		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>
			<%= captcha_error %>
			<%= f.input :email, autofocus: true, input_html: { autocomplete: "email" } %>
			<%= f.input :password, input_html: { autocomplete: "new-password" } %>
			<%= f.input :password_confirmation, input_html: { autocomplete: "new-password" } %>

			<%= captcha_tag if captcha_enabled? %>
			<%= f.button :submit, class: "button is-primary is-fullwidth" %>
		<% end %>
		<div class="my-2">
			<%= render "devise/shared/links" %>
		</div>
	</div>
<% end %>
