<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<%= image_pack_tag "logo-transparent.png" %>
		</a>
		<div class="navbar-burger" data-target="app-navbar__content">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="app-navbar__content" class="navbar-menu">
		<div class="navbar-end">
			<%= link_to_unless_current 'Investimentos', investments_path, class: "navbar-item" do %>
				<span class="navbar-item is-active">Investimentos</span>
			<% end %>
			<%= link_to_unless_current 'Explorar', explore_path, class: "navbar-item" do %>
				<span class="navbar-item is-active">Explorar</span>
			<% end %>
			<%= link_to_unless_current 'Relatórios', reports_path, class: "navbar-item" do %>
				<span class="navbar-item is-active">Relatórios</span>
			<% end %>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					<%= navbar_user_avatar %>
				</a>
				<div class="navbar-dropdown is-right">
					<div class="dropdown-content">
						<div class="dropdown-item" style="min-width:180px;">
							<small>
								Você entrou como:<br/>
								<span class="has-text-weight-bold"><%= current_user.email %></span>
							</small>
						</div>
					</div>
					<%= link_to 'Cadastro',
						edit_user_registration_path,
						class: "navbar-item" %>
					<%= link_to 'Sair',
						destroy_user_session_path,
						method: :delete,
						class: "navbar-item" %>
				</div>
			</div>
		</div>
	</div>
</nav>
