<span class="list-group-item">
	<div class="row justify-content-between">
		<div class="col-xs-6 col-md-3">
			<span class="small">
				<span class="mb-1 d-block text-uppercase">Invested</span>
				<strong class="text-muted">
					<abbr class="text-uppercase"
						title="<%= I18n.l(investment.invested_at, format: :long) %>">
						<%= time_ago_in_words(investment.invested_at) %> ago
					</abbr>
				</strong>
			</span>
		</div>
		<div class="col-xs-6 col-md-3">
			<span class="small">
				<span class="mb-1 d-block text-uppercase">Quantity</span>
				<strong class="text-muted">
					<%= investment.quantity %>
				</strong>
			</span>
		</div>
		<div class="col-xs-6 col-md-3">
			<span class="small">
				<span class="mb-1 d-block text-uppercase">Value</span>
				<strong class="text-muted">
					<%= number_to_currency(investment.value_invested) %>
				</strong>
			</span>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="d-flex justify-content-end align-items-center">
				<%= link_to "Edit", edit_investment_path(investment) %>
				<span class="mx-1"></span>
				<%= link_to "Destroy", investment, method: :delete, data: { confirm: "Are you sure?" } %>
			</div>
		</div>
	</div>
</span>
