<%= render "partials/flash_messages" %>

<div class="row">
	<div class="col-sm-12 col-md-6">
		<h2>
			<%= @asset.abbreviation %>
			<span class="ml-1 text-muted"><%= @asset.name %></span>
		</h2>
		<div class="small text-uppercase">
			Current price
			<strong class="text-muted">
				<%= @asset.current_price.present? ? number_to_currency(@asset.current_price.value) : "Not available" %>
			</strong>
			<span class="mx-2"></span>
			Updated at
			<strong class="text-muted">
				<%= @asset.current_price.present? ? I18n.l(@asset.current_price.date, format: :long) : "Not available" %>
			</strong>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 ml-auto text-right">
		<div class="row px-2">
			<div class="col-sm-12 col-md-4 border py-2">
				<span class="text-uppercase">Quantity</span>
				<strong class="d-block text-muted">
					<%= @investment_totals.quantity %>
				</strong>
			</div>
			<div class="col-sm-12 col-md-4 border py-2">
				<span class="text-uppercase">Invested</span>
				<strong class="d-block text-muted">
					<%= number_to_currency(@investment_totals.total_invested) %>
				</strong>
			</div>
			<div class="col-sm-12 col-md-4 border py-2">
				<span class="text-uppercase">Accumulated</span>
				<strong class="d-block text-muted">
					<%= number_to_currency(@investment_totals.total_accumulated) %>
					(<%= difference_in_percent(@investment_totals.total_invested, @investment_totals.total_accumulated) %>)
				</strong>
			</div>
		</div>
	</div>
</div>

<div class="my-5">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h3>Accumulated value</h3>
		</div>
		<div class="col-sm-12 col-md-6 text-right">
			<div class="chart-range-options">
				<%= chart_range_option @asset, '30 Days', range: '30days',
					disabled: @accumulated_value_chart.range_in_days == 30 %>
				<%= chart_range_option @asset, '60 Days', range: '60days',
					disabled: @accumulated_value_chart.range_in_days == 60 %>
				<%= chart_range_option @asset, '90 Days', range: '90days',
					disabled: @accumulated_value_chart.range_in_days == 90 %>
			</div>
		</div>
	</div>

	<%= area_chart [
			{ name: "Accumulated", data: @accumulated_value_chart.accumulated_series },
			{ name: "Invested", data: @accumulated_value_chart.invested_series }
		],
		id: "accumulated-value-chart",
		legend: "bottom",
    min: @accumulated_value_chart.min_value,
    max: @accumulated_value_chart.max_value,
		curve: false,
		prefix: "$",
		thousands: ",",
		decimals: "." %>
</div>

<div class="my-2">
	<div class="d-flex justify-content-between align-items-center">
		<h3>Investments</h3>
		<%= link_to 'Add investment', new_investment_path(asset_id: @asset) %>
	</div>

	<div class="list-group">
		<%= render partial: "assets/investment", collection: @investments %>
	</div>

	<% if @investments.empty? %>
		<div class="alert alert-info">
			<strong>Info!</strong>
			You have no investments on this asset.
		</div>
	<% end %>
</div>
