<div class="block">
	<% if @item.current_price.present? %>
		<div class="columns">
			<div class="column is-half-desktop is-full-mobile">
				<h3 class="subtitle">Accumulated value</h3>
			</div>
			<div class="column has-text-right is-half-desktop is-full-mobile">
				<div class="chart-range-options">
					<%= chart_range_option '30 Days',
          accumulated_item_url(@item, range_type: '30d'),
          range: '30d',
          disabled: @accumulated_value_chart.range_type == '30d' %>
					<%= chart_range_option '60 Days',
          accumulated_item_url(@item, range_type: '60d'),
          range: '60d',
          disabled: @accumulated_value_chart.range_type == '60d' %>
					<%= chart_range_option '90 Days',
          accumulated_item_url(@item, range_type: '90d'),
          range: '90d',
          disabled: @accumulated_value_chart.range_type == '90d' %>
				</div>
			</div>
		</div>

		<%= area_chart [
				{ name: "Accumulated", data: @accumulated_value_chart.accumulated_series },
				{ name: "Invested", data: @accumulated_value_chart.invested_series }
			],
			id: "accumulated-value-chart",
			legend: "bottom",
			min: @accumulated_value_chart.minmax_chart_value.first,
			max: @accumulated_value_chart.minmax_chart_value.last,
			curve: false,
			prefix: "$",
			thousands: ",",
			decimals: ".",
			empty: "No data to display" %>
	<% else %>
		<%= render 'partials/no_content', message: "Sorry. The price history for this asset is not available at the moment. Please, check back later." %>
	<% end %>
</div>
