<div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
	<div class="card">
		<div class="card-content has-text-centered">
			<div class="columns is-mobile">
				<div class="column is-half-mobile">
					<p class="heading">Quantity</p>
					<p class="subtitle"><%= investment.quantity %></p>
				</div>
				<div class="column is-half-mobile">
					<p class="heading">Value</p>
					<p class="subtitle has-text-weight-bold">
						<%= number_to_currency(investment.value_invested) %>
					</p>
				</div>
			</div>
			<div class="block">
				<p class="heading">Invested</p>
				<p class="subtitle" title="<%= I18n.l(investment.invested_at, format: :long) %>">
					<%= time_ago_in_words(investment.invested_at) %> ago
				</p>
			</div>
		</div>
		<footer class="card-footer">
			<%= link_to 'Edit',
				edit_investment_path(investment),
				class: "card-footer-item" %>
			<%= link_to 'Delete',
				investment,
				class: "card-footer-item has-text-danger",
				method: :delete,
				data: {confirm: "Are you sure?"} %>
		</footer>
	</div>
</div>
