<div class="columns">
	<div class="column is-one-quarter">
		<figure class="image is-128x128">
			<%= image_tag current_user.avatar.url, id: "current-user-avatar-preview" %>
		</figure>
		<%= form.label :avatar, class: "button is-ghost" do %>
			Selecione um avatar
			<%= form.file_field :avatar, class: "is-hidden", accept: "image/*" %>
		<% end %>
		<div id="avatar-status" class="has-text-danger"></div>
	</div>

	<div class="column is-three-quarters">
		<%= form.input :name, autofocus: true, input_html: { autocomplete: "name" } %>
		<%= form.input :email, input_html: { autocomplete: "email" } %>
		<%= form.input :current_password,
			input_html: { autocomplete: "current-password" },
			hint: "Precisamos da sua senha atual para confirmar as alterações" %>
		<div class="field">
			<%= form.button :submit, class: "button is-primary" %>
		</div>
	</div>
</div>
