<%= content_for :page_head do %>
	<h1 class="title">Relatório de <%= I18n.l(@report.created_at.to_date, format: :long) %></h1>
<% end %>
<nav class="level">
	<div class="level-item has-text-right-desktop has-text-centered-mobile">
		<div>
			<p class="heading">Investido</p>
			<p class="title"><%= number_to_currency(@report.sum_total_invested) %></p>
		</div>
	</div>
	<div class="level-item has-text-right-desktop has-text-centered-mobile">
		<div>
			<p class="heading">Acumulado</p>
			<p class="title">
				<%= number_to_currency(@report.sum_current_value) %>
				<%= styled_numeric(@report.value_variation_in_pct) do |var| %>
					(<%= number_to_percentage(var, precision: 1) %>)
				<% end %>
			</p>
		</div>
	</div>
</nav>

<table id="report-payload" class="table is-hoverable" style="margin:auto;">
	<thead>
		<tr>
			<th>Item</th>
			<th>Investido</th>
			<th>Quantidade</th>
			<th>Acumulado</th>
			<th>+/-</th>
		</tr>
	</thead>
	<tbody>
		<% @report.portfolio_items.each do |row| %>
			<tr>
				<td>
					<small>
						<%= row.item_name %>
					</small><br/>
					<%= row.item_abbr %>
				</td>
				<td>
					<%= number_to_currency(row.item_value_invested) %>
				</td>
				<td>
					<%= row.item_quantity %>
				</td>
				<td>
					<%= number_to_currency(row.item_current_value) %>
				</td>
				<td>
					<%= styled_numeric(row.value_variation_in_pct) do |number| %>
						<%= number_to_percentage(number, precision: 1) %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
