<div class="row">
	<div class="col-sm-12 col-md flex-shrink-1">
		<h2>
			<%= @explore_facade.asset.abbreviation %>
			<span class="ml-1 text-muted"><%= @explore_facade.asset.name %></span>
		</h2>
		<div class="d-flex">
			<div class="text-uppercase small">
				Current price
				<span class="text-muted font-weight-bold">
					<%= number_to_currency(@explore_facade.current_price) %>
					(<%= number_to_percentage(@explore_facade.price_var_pct, precision: 2) %>)
				</span>
			</div>
			<span class="mx-3"></span>
			<div class="text-uppercase small">
				Updated at
				<span class="text-muted font-weight-bold">
					<%= I18n.l @explore_facade.current_price_at, format: :long %>
				</span>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-auto">
		<ul class="list-group list-group-horizontal text-right">
			<li class="list-group-item">
				<span class="text-uppercase small">Open</span>
				<div class="text-muted font-weight-bold">
					<%= number_to_currency(@explore_facade.open_price) %>
				</div>
			</li>
			<li class="list-group-item">
				<span class="text-uppercase small">Lowest</span>
				<div class="text-muted font-weight-bold">
					<%= number_to_currency(@explore_facade.lowest_price) %>
				</div>
			</li>
			<li class="list-group-item">
				<span class="text-uppercase small">Highest</span>
				<div class="text-muted font-weight-bold">
					<%= number_to_currency(@explore_facade.highest_price) %>
				</div>
			</li>
			<li class="list-group-item">
				<span class="text-uppercase small">Volume</span>
				<div class="text-muted font-weight-bold">
					<%= number_to_human(@explore_facade.volume) %>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="my-5">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h3>Price variation</h3>
		</div>
		<div class="col-sm-12 col-md-6 text-right">
			<div class="chart-range-options">
				<%= button_tag('Today',
					type: "button",
					disabled: @explore_facade.range_type == '1d',
					class: "btn btn-secondary btn-sm range-1d",
					data: {
						remote: true,
						url: explore_prices_path(asset_id: params[:asset_id], range_type: '1d'),
						method: "GET"
					}) %>
				<%= button_tag('30 Days',
					type: "button",
					disabled: @explore_facade.range_type == '30d',
					class: "btn btn-secondary btn-sm range-30d",
					data: {
						remote: true,
						url: explore_prices_path(asset_id: params[:asset_id], range_type: '30d'),
						method: "GET"
					}) %>
				<%= button_tag('60 Days',
					type: "button",
					disabled: @explore_facade.range_type == '60d',
					class: "btn btn-secondary btn-sm range-60d",
					data: {
						remote: true,
						url: explore_prices_path(asset_id: params[:asset_id], range_type: '60d'),
						method: "GET"
					}) %>
				<%= button_tag('90 Days',
					type: "button",
					disabled: @explore_facade.range_type == '90d',
					class: "btn btn-secondary btn-sm range-90d",
					data: {
						remote: true,
						url: explore_prices_path(asset_id: params[:asset_id], range_type: '90d'),
						method: "GET"
					}) %>
			</div>
		</div>
	</div>
</div>
<%= area_chart @explore_facade.prices_chart_data,
		id: "asset-prices-chart",
		legend: false,
    min: @explore_facade.minmax_chart_value[0],
    max: @explore_facade.minmax_chart_value[1],
		curve: false,
		prefix: "$",
		thousands: ",",
		decimals: "." %>
