<!DOCTYPE html>
<html>
	<head>
		<title>VESP | My investments</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<%= favicon_pack_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "180x180" %>
		<%= favicon_pack_tag 'favicon.png', rel: 'icon', type: 'image/png', sizes: "32x32" %>
		<%= favicon_pack_tag 'favicon.png', rel: 'icon', type: 'image/png', sizes: "16x16" %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= yield(:header) if content_for?(:header) %>
	</head>
	<body>
		<% if content_for?(:content) %>
			<%= yield(:content) %>
		<% else %>
			<%= render 'partials/navbar' if user_signed_in? %>
			<section class="section">
				<main id="root" class="container">
					<%= content_for?(:main_content) ? yield(:main_content) : yield %>
				</main>
			</section>
		<% end %>
	</body>
	<%= yield(:footer) if content_for?(:footer) %>
</html>
