<%= content_for :main_content do %>
	<div class="block">
		<%= render "partials/flash_messages" %>
		<%= form_with namespace: :explore,
    id: "explore_form",
    url: explore_assets_path,
    method: "get",
    local: true do |f| %>
			<%= assets_dropdown f, :asset_id,
				auto_submit: true,
				selected_asset: (@explore_facade.asset if @explore_facade.present?),
				input_html: { class: "border-0 form-control-lg" } %>
		<% end %>
	</div>
	<%= yield %>
<% end %>

<%= render template: "layouts/application" %>
